
@if (!todoItems().length) {
  <p>Loading...</p>
}

<form action="">
<label>Filter todos based off input search term</label>
<input 
name="searchTerm"
[(ngModel)]="searchTerm" 
type="text" 
placeholder="search todo"/>

</form>

<table class="table table-stripped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">todo</th>
      <th scope="col">User Id</th>
      <th scope="col">Completed </th>
    </tr>
  </thead>
  @for (todo of todoItems() | filterTodos: searchTerm(); track todo.id) {
    <tbody>
        <app-todo-item [todo]="todo"/>
    </tbody>
  }
  
</table>
